%input.firstName{type: "text", placeholder: "First Name"}
%br
%input.lastName{type: "text", placeholder: "Last Name"}
%br
%input.symptoms{type: "text", placeholder: "Symptoms"}
%br
%input.dob{type: "date"}
%br
%br
%button.create-patient Create Patient
%button.escape Cancel
