.form
  %br
  %input.name{type: "text", placeholder: "Name"}
  %br
  %input.location{type: "text", placeholder: "Location"}
  %br
  %br
  %button.create-hospital Create Hospital
  %button.escape Cancel