.col-md-3 {
  z-index: 2;
  left: 0;
  background-color: #344845;
  height: 100;
}
.col-md-9 {
  right: 0;
  left: 50;
  z-index: 2;
  text-align:center;
}
.btn.btn-default {
  text-align: center;
  display: block;
}
.btn.btn-primary {
  background-color: #A9B7AA;
  color: black;
}
.background {
  position: fixed;
  z-index: 1;
}
.form {
  text-align: center;
  display: block;
}
.spl {
  display: block;
}